@import '../../../assets/scss/mixin.scss';
@import '../../../assets/scss/tokens.scss';

.education {
  @include section(0, -100%, $token-color-primary);
  display: flex;
  flex-direction: column;

  &__peek {
    &-right {
      @include peekRight;
    }

    &-text {
      font-size: $token-font-size-xxxl;
      opacity: 0;
      color: $token-color-lightest;
      transform: rotateZ(90deg);
    }
  }
}
