$token-spacing-1: 0.25rem;
$token-spacing-2: 0.5rem;
$token-spacing-3: 0.75rem;
$token-spacing-4: 1rem;
$token-spacing-5: 1.25rem;
$token-spacing-6: 1.5rem;
$token-spacing-7: 1.75rem;
$token-spacing-8: 2rem;
$token-spacing-9: 2.25rem;
$token-spacing-10: 2.5rem;

$token-font-size-xs: 0.875rem;
$token-font-size-md: 1rem;
$token-font-size-lg: 1.125rem;
$token-font-size-xl: 1.5rem;
$token-font-size-xxl: 2rem;
$token-font-size-xxxl: 2.5rem;

$token-font-weight-light: 300;
$token-font-weight-regular: 400;
$token-font-weight-medium: 500;
$token-font-weight-bold: 700;

$token-color-primary: #e95420;
$token-color-aubergine-light: #77216f;
$token-color-aubergine-mid: #5e2750;
$token-color-aubergine-dark: #2c001e;
$token-color-aubergine-canonical: #772953;
$token-color-light: #d6d3cf;
$token-color-lighter: #eae9e7;
$token-color-lightest: #f6f6f5;
$token-color-white: #fff;
$token-color-dark: #3e3e3e;
$token-color-darker: #343434;
$token-color-darkest: #2c2c2c;
$token-color-black: #1d1d1d;

$token-breakpoint-sm: 30em;
$token-breakpoint-md: 48em;
$token-breakpoint-lg: 62em;
$token-breakpoint-xl: 80em;
$token-breakpoint-xxl: 90em;
