@import '../../../assets/scss/mixin.scss';
@import '../../../assets/scss/tokens.scss';

.more {
  @include section(100%, 0, $token-color-light);

  &__peek {
    &-top {
      @include peekTop;
    }

    &-text {
      font-size: $token-font-size-xxxl;
      opacity: 0;
      color: $token-color-lightest;
      transform: translateY(-50%);
    }
  }
}
