@import '../../../assets/scss/mixin.scss';
@import '../../../assets/scss/tokens.scss';

.home {
  @include section(0, 0, $token-color-darkest);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__peek {
    &-left {
      @include peekLeft;
    }

    &-right {
      @include peekRight;
    }

    &-bottom {
      @include peekBottom;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  color: $token-color-lighter;
  font-size: $token-font-size-lg;
  font-weight: $token-font-weight-medium;
  padding-bottom: $token-spacing-4;
}
